psutil
numpy
torch
torchvision
torchaudio
accelerate
transformers
tokenizers
datasets
peft
platformdirs
gptcache
diskcache
openai
requests
aiohttp
regex
pyparsing
pygtrie
overrides
base58
dill
fire
wandb
tqdm
chardet
graphviz
matplotlib
plotnine
nest_asyncio
jsonnet
redis
redis_om
evaluate
py-cpuinfo
sentencepiece
jsonlines
pylatexenc
deepspeed-kernels
triton
vllm
xformers
cchardet
python-chess
